@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 248, 243;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FBF8F3;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.head {
  height: 60px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left h1{
  color: #EA6536;
  font-weight: bold;
}

.center {
  width: 50%;
}

.center ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.center ul li {
  margin-right: 10px;
}

.active{
  color: #EA6536;
}
