@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.head {
  height: 60px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.head ul li{
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}

.splash{
  height: 65vh;
  margin-top: 3%;
  width: 100%;
}

.splash-inner{
  @apply flex md:flex-row flex-col;
  height: 100%;
  width: 65em;
  margin: auto;
}

.splash-text{
  flex: 1.5;
}

.game{
  background-color: rosybrown;
  flex: 1.5;
  height: 500px;
}

.projects{
  background-color: lightblue;
  height: 750px;
}


.projects-inner{
  margin: auto;
  padding-top: 2rem;
  width: 85%;
}